@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(/images/erik-mclean-OUxM_P9JFBw-unsplash.jpg);
  background-size: cover;
  height: 100%;
  color: white;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
}

h3 {
  color: #888888;
}

.line-through {
  text-decoration: line-through;
}

a:hover {
  color: white;
  text-decoration: none;
}

.text-large {
  font-size: 8rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.right {
  float: right;
}

.card-height {
  height: 50vh;
}

.fa {
  margin-left: 10px;
}

.border-radius {
  border-radius: 20px;
}

ul {
  list-style-type:none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.upvote,
.downvote {
  margin: 0 20px;
  color: #ffc107;
}

@media only screen and (max-width: 320px) {
  li {
    font-size: 4rem;
  }
}
