@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(/images/erik-mclean-OUxM_P9JFBw-unsplash.jpg);
  background-size: cover;
  height: 100%;
  color: white;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
}

.line-through {
  text-decoration: line-through;
}

h3 {
  line-height: 1.5;
  font-size: 1.6rem;
}

.text-xlarge {
  font-size: 8rem;
}
/* 
.text-large {
  font-size: 140px;
} */

.card {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.right {
  float: right;
}

.card-height {
  height: 50vh;
}

.fa {
  margin-left: 10px;
}

.border-radius {
  border-radius: 20px;
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}
